<main>

    <form action="index.php?controller=user&method=insert" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" name="surname" id="surname" placeholder="Surname">
        </div>
        
         <input type="submit" class="btn btn-primary" name='submit' value="Enregistrer">
    </form>



</main>